.dashboard-display{
    display: flex;
    height: 1024px;
    /* width: 100vw; */
    /* max-width: 100vw; */
    /* background-color: azure; */
}
.dashboard-content{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 100%;
}
.sidebar{
    width: fit-content;
    /* background-color: blanchedalmond; */
}
