.dashboard-content-container{
    height: 100%;
    width: 100%;
    background-color: #F1F3F9;
}

.dashboard-analytics{
  /* background-color: #F1F3F9; */
  margin: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "week week-one week-two"
  "marketing products orders"
  "marketing cart orders"
  "summary summary orders"
  "summary summary orders"
;
gap: 20px;
}
.week{
    background-color: white;
    grid-area: week;
    height: 9.25rem;
    border-radius: 12px;
    padding: 0.9rem;
}
.week-one{
    grid-area: week-one;
    background-color: blue;
    border-radius: 12px;
}

.week-two{
    grid-area: week-two;
    background-color: yellow;
    border-radius: 12px;
}

.marketing{
    grid-area: marketing;
    background-color: greenyellow;
    height: 21rem;
    border-radius: 12px;
}

.products{
    grid-area: products;
    background-color: green;
    border-radius: 12px;
}
.cart{
    grid-area: cart;
    background-color: white;
    border-radius: 12px;
}
.orders{
grid-area: orders;
background-color: brown;
border-radius: 12px;
}

.summary{
grid-area: summary;
background-color: orange;
border-radius: 12px;

}