@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap");

.topnav-container {
  height: 5.25rem;
  /* position: fixed; */
  /* width: 71.5rem; */
  /* background-color: aliceblue; */
  width: 100%;
}

.topnav-content {
  height: 3.75rem;
  border-bottom: 1px solid #f1f3f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 21px 0px 21px;
}

.dashboard-text {
  size: 20px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.profile-name {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  background-color: #fef5ea;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  margin-right: 1.5rem;
}
.brand {
  margin-right: 1rem;
}

.notification {
  margin-right: 1.5rem;
}

.topnav-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dash-house {
  display: flex;
  align-items: center;
  padding: 0px 21px 0px 21px;
  text-transform: capitalize;
  gap: 1rem;
}
.dash-house p{
  color: #8B8D97;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}